image: mileschou/xdebug:7.4

stages:
  - build
  - lint
  - test
  - current version tests
  - other versions tests
  - infection
  - sonar
  - release

.cache: &global_cache
  paths:
    - vendor/
    - composer.lock
    - tests/test-reports/
    - composer.phar
  policy: pull

#########
# BUILD #
#########

# Build and cache project dependancies
build:
  stage: build
  cache:
    <<: *global_cache
    policy: push
  before_script:
    # Install composer dependencies
    - php -m
    - apt-get update -yqq
    - apt-get install git zip unzip -yqq
    - php -r "copy('https://getcomposer.org/download/2.3.8/composer.phar', 'composer.phar');"
    # - php composer-setup.php
    # - php -r "unlink('composer-setup.php');"
  script:
    - php composer.phar install
    - php composer.phar require --dev phpunit/phpunit:9.5 --with-all-dependencies
    - php composer.phar info
  tags:
    - small

#############
# END BUILD #
#############

########
# SAST #
########

include:
  - template: Security/SAST.gitlab-ci.yml
  - project: 'pi-ecommerce/cms/cms-template-ci'
    ref: '1.1.0'
    file: 'release.yaml'

############
# END SAST #
############

############
# VALIDATE #
############

# Check code standards application (PSR-1, PSR-2...)
code-style:
  stage: lint
  cache:
    <<: *global_cache
  script:
    # @PSR12 is the default ruleset use
    - ./vendor/bin/php-cs-fixer fix ./lib -vvv --dry-run --rules=@PSR12
  tags:
    - small

# Looks for dependancies known vulnerabilities
code-security:
  stage: lint
  cache:
    <<: *global_cache
  before_script:
    - curl -L https://github.com/fabpot/local-php-security-checker/releases/download/v1.2.0/local-php-security-checker_1.2.0_linux_386 --output /usr/local/bin/local-php-security-checker
    - chmod a+x /usr/local/bin/local-php-security-checker
  script:
    - /usr/local/bin/local-php-security-checker
  tags:
    - small

# Looks for typing and syntax errors
stan:
  stage: lint
  cache:
    <<: *global_cache
  script:
    - ./vendor/bin/phpstan analyse lib/ --level 8
  tags:
    - small

################
# END VALIDATE #
################

########
# TEST #
########

# Unit testing
phpunit-7.3:
  image: mileschou/xdebug:7.3
  stage: current version tests
  cache:
    <<: *global_cache
  before_script:
    - apt-get update -yqq
    - apt-get install git zip unzip -yqq
    - rm vendor -R composer.lock
    - php composer.phar install
  script:
    - export XDEBUG_MODE=coverage
    - ./vendor/bin/phpunit \
      --configuration tests/phpunit.xml \
      --log-junit=tests/test-reports/_coverage/junit.xml \
      --coverage-text \
      --colors=never
    - sed -i 's/\/builds\/.*\/0\/pi-ecommerce\/libs\/hipay-fullservice-sdk-php\///' tests/test-reports/_coverage/junit.xml
  artifacts:
    when: always
    reports:
      junit: tests/test-reports/_coverage/junit.xml
    expire_in: 1 day
  tags:
    - small

phpunit-7.4:
  image: mileschou/xdebug:7.4
  stage: current version tests
  cache:
    <<: *global_cache
    policy: pull-push
  before_script:
    - apt-get update -yqq
    - apt-get install git zip unzip -yqq
  script:
    - export XDEBUG_MODE=coverage
    - ./vendor/bin/phpunit \
      --configuration tests/phpunit.xml \
      --coverage-xml=tests/test-reports/_coverage/coverage-xml \
      --log-junit=tests/test-reports/_coverage/junit.xml \
      --coverage-clover=tests/test-reports/_coverage/coverage.xml \
      --coverage-cobertura=tests/test-reports/_coverage/cobertura.xml \
      --coverage-text \
      --colors=never
    - sed -i 's/\/builds\/.*\/0\/pi-ecommerce\/libs\/hipay-fullservice-sdk-php\///' tests/test-reports/_coverage/cobertura.xml
    - sed -i 's/\/builds\/.*\/0\/pi-ecommerce\/libs\/hipay-fullservice-sdk-php\///' tests/test-reports/_coverage/junit.xml
  artifacts:
    when: always
    reports:
      junit: tests/test-reports/_coverage/junit.xml
      coverage_report:
        coverage_format: cobertura
        path: tests/test-reports/_coverage/cobertura.xml
    expire_in: 1 day
  tags:
    - small

phpunit-8.0:
  image: mileschou/xdebug:8.0
  stage: other versions tests
  cache:
    <<: *global_cache
  before_script:
    - apt-get update -yqq
    - apt-get install git zip unzip -yqq
  script:
    - export XDEBUG_MODE=coverage
    - ./vendor/bin/phpunit \
      --configuration tests/phpunit.xml \
      --log-junit=tests/test-reports/_coverage/junit.xml \
      --coverage-text \
      --colors=never
    - sed -i 's/\/builds\/.*\/0\/pi-ecommerce\/libs\/hipay-fullservice-sdk-php\///' tests/test-reports/_coverage/junit.xml
  artifacts:
    when: always
    reports:
      junit: tests/test-reports/_coverage/junit.xml
    expire_in: 1 day
  tags:
    - small

phpunit-8.2:
  image: mileschou/xdebug:8.2
  stage: other versions tests
  cache:
    <<: *global_cache
  before_script:
    - apt-get update -yqq
    - apt-get install git zip unzip -yqq
  script:
    - export XDEBUG_MODE=coverage
    - ./vendor/bin/phpunit \
      --configuration tests/phpunit.xml \
      --log-junit=tests/test-reports/_coverage/junit.xml \
      --coverage-text \
      --colors=never
    - sed -i 's/\/builds\/.*\/0\/pi-ecommerce\/libs\/hipay-fullservice-sdk-php\///' tests/test-reports/_coverage/junit.xml
  artifacts:
    when: always
    reports:
      junit: tests/test-reports/_coverage/junit.xml
    expire_in: 1 day
  tags:
    - small

# Unit tests mutation
infection-7.4:
  stage: infection
  cache:
    <<: *global_cache
  before_script:
    - apt-get update -yqq
    - apt-get install git zip unzip -yqq
    - curl -L https://github.com/infection/infection/releases/download/0.25.3/infection.phar --output infection.phar
    - curl -L https://github.com/infection/infection/releases/download/0.25.3/infection.phar.asc --output infection.phar.asc
    - chmod +x infection.phar
  script:
    - export XDEBUG_MODE=coverage
    - ./vendor/bin/phpunit \
      --configuration tests/phpunit.xml \
      --coverage-xml=tests/test-reports/_coverage/coverage-xml \
      --log-junit=tests/test-reports/_coverage/junit.xml \
      --coverage-clover=tests/test-reports/_coverage/coverage.xml
    - ./infection.phar --coverage=tests/test-reports/_coverage --test-framework-options="--log-junit=tests/test-reports/_coverage/junit.xml"
  artifacts:
    paths:
      - infection.log
    expire_in: 1 day
  tags:
    - small

############
# END TEST #
############

#########
# SONAR #
#########

sonar-7.4:
  stage: sonar
  image: mileschou/xdebug:7.4
  allow_failure: true
  cache:
    <<: *global_cache
  variables:
    GIT_DEPTH: '0'
    SONAR_PROJECT_KEY: 'hipay-fullservice-sdk-php'
  before_script:
    - apt-get update -yqq
    - apt-get install git zip unzip -yqq
    - curl -L https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.6.2.2472-linux.zip --output sonar-scanner-cli.zip
    - unzip sonar-scanner-cli.zip -d ./
  script:
    - export XDEBUG_MODE=coverage
    - ./vendor/bin/phpunit \
      --configuration tests/phpunit.xml \
      --coverage-xml=tests/test-reports/_coverage/coverage-xml \
      --log-junit=tests/test-reports/_coverage/junit.xml \
      --coverage-clover=tests/test-reports/_coverage/coverage.xml \
      --coverage-cobertura=tests/test-reports/_coverage/cobertura.xml
    - ./sonar-scanner-4.6.2.2472-linux/bin/sonar-scanner -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.sources=lib -Dsonar.tests=tests -Dsonar.host.url=$SONAR_URL -Dsonar.login=$SONAR_TOKEN -Dsonar.php.coverage.reportPaths=tests/test-reports/_coverage/coverage.xml
  #  only:
  #    - develop
  tags:
    - small
#############
# END SONAR #
#############
