image: pathmotion/composer-php-7.2:latest

stages:
  - build
  - validate
  - test


.cache: &global_cache
    paths:
        - .env
        - vendor/
        - composer.lock
    policy: pull-push

build:
  stage: build
  cache:
      <<: *global_cache
  script:
      - composer install --ignore-platform-reqs --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts
      - composer info
      - ./vendor/bin/phpunit --version
  tags:
    - gcp-small-runner-prod


code-style:
  stage: validate
  cache:
      <<: *global_cache
  script:
    ./vendor/bin/php-cs-fixer fix ./lib -vvv --dry-run
  allow_failure: true
  tags:
    - gcp-small-runner-prod



code-security:
  stage: validate
  cache:
      <<: *global_cache
  before_script: 
    - curl -L https://github.com/fabpot/local-php-security-checker/releases/download/v1.2.0/local-php-security-checker_1.2.0_linux_386 --output /usr/local/bin/local-php-security-checker
    - chmod a+x /usr/local/bin/local-php-security-checker
  script:
    - /usr/local/bin/local-php-security-checker
  tags:
    - gcp-small-runner-prod


#deptrac:
#  stage: validate
#  cache:
#      <<: *global_cache
#  before_script:
#    - curl -L https://github.com/qossmic/deptrac/releases/download/0.15.2/deptrac.phar --output ./deptrac.phar
#  script:
#    - php deptrac.phar analyse
  tags:
    - gcp-small-runner-prod



phpunit:
  stage: test
  cache:
      <<: *global_cache
  script:
    - ./vendor/bin/phpunit -c tests/unit/phpunit.xml --testsuite unit
  allow_failure: false
  tags:
    - gcp-small-runner-prod


infection:
  stage: test
  cache:
      <<: *global_cache
  before_script:
    - composer install
    - curl -L https://github.com/infection/infection/releases/download/0.15.0/infection.phar --output infection.phar
    - curl -L https://github.com/infection/infection/releases/download/0.15.0/infection.phar.asc --output infection.phar.asc
    #- gpg --recv-keys C6D76C329EBADE2FB9C458CFC5095986493B4AA0
    #- gpg --with-fingerprint --verify infection.phar.asc infection.phar
    - chmod +x infection.phar
  script:
    - ./infection.phar --threads=4
  allow_failure: false
  tags:
    - gcp-small-runner-prod
