{
    "source": {
        "directories": [
            "lib\/HiPay\/Fullservice"
        ]
    },
    "phpUnit": {
        "configDir": "tests"
    },
    "mutators": {
        "@default": true
    },
    
    "logs": {
        "text": "infection.log"
    }
}
