<?php
/****************************************************************
 * Please insert your own credentials for the examples to work  *
 * And then rename this file "credentials.php"                  *
 * You can find your credentials in your Hipay BO               *
 ****************************************************************/
$HIPAY_API_USER_TEST='sample';
$HIPAY_API_PASSWORD_TEST='sample';
$HIPAY_TOKENJS_PUBLICKEY_TEST='sample';
$HIPAY_TOKENJS_USERNAME_TEST='sample';
$HIPAY_SECRET_PASSPHRASE_TEST='sample';
