<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="./bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Hipay Fullservice Unit Test Suite">
            <directory >./Hipay/Tests/Fullservice/</directory>
        </testsuite>
    </testsuites>

    <!-- <filter>
        <whitelist>
            <directory>./lib/Hipay/</directory>
        </whitelist>
    </filter> -->
</phpunit>
