<?xml version="1.0" 
      encoding="UTF-8"?>
	
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	 backupGlobals="false"
	 colors="true"
	 bootstrap="./bootstrap.php"
	 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  
	<coverage processUncoveredFiles="true">
    		<include>
      			<directory suffix=".php">../../lib/HiPay/Fullservice/</directory>
    		</include>
    		<report>
      			<html outputDirectory="test-reports/coverage"/>
    		</report>
  	</coverage>
  	<php>
    		<ini name="error_reporting" value="-1"/>
  	</php>
  	<testsuites>
   		<testsuite name="unit">
      			<directory>./HiPay/Tests/Fullservice/</directory>
    		</testsuite>
  	</testsuites>
</phpunit>
