on:
  release:
    types: [published, released]

jobs:
  slack_message:
    runs-on: ubuntu-latest
    steps:
      - env:
          EVENT_CONTEXT: ${{ toJSON(github.event) }}
        run: |
          JSON='{ "project": "${{ github.event.repository.name }}", "version": "${{ github.event.release.tag_name }}", "release_link": "${{ github.event.release.html_url }}", "changelog": ${{ toJSON(github.event.release.body) }} }'
          curl -v -X POST --data-binary "$JSON" -H "Content-Type: application/json" ${{ vars.SLACK_WEBHOOK_URL }}
